{% extends 'layout.html' %}
{% block content %}

<div class="wrapper">
    <div class="main-title-container">
        <h1>{{ title }}</h1>
    </div>
    <div class="container">
        <div class="dataset-selection">
            <header class="header-box">
                <h3>Select a dataset to model:</h3>
            </header>
            <div class="form-input-container">
                <form action="" method="POST">
                    <select id="datasets" name="dataset" onchange='selectDataset(this)'>
                        <option value="default" hidden>Select Dataset</option>
                        <option value="skl_moons">SciKit-Learn Moons</option>
                        <option value="titanic">Titanic Passanger Survival</option>
                        <option value="pima_indians_diabetes">Pima Indians Diabetes</option>
                        <option value="cifar10">CIFAR-10</option>
                    </select>
                </form>
            </div>
        </div>
        <div class="dataset-visualisation">
            {% if data %}
                <p>{{ data }}</p>
            {% else %}
                <p>[Data Diagrams Go Here]</p>
            {% endif %}
        </div>
        <div class="suggested-options">
            <input id="suggested-options" type="button" value="Load Suggested Options" disabled onclick="datasetSwitch('{{ dataset }}')">
        </div>
        <form action="{{ url_for('views.train_network') }}" method="POST">
            {% if dataset %}
            <input hidden type="text" value="{{ dataset }}" name="dataset">
            {% endif %}
            <div class="data-preprocessing">
                <header class="header-box">
                    <h3>Select Data preprocessing Options:</h3>
                </header>
                <div class="form-input-container">
                    <input id="normalise" type="checkbox" name="normalise" autocomplete="off">
                    <label for="normalise">Normalise Data</label><br>
                    <input id="pca" type="checkbox" name="pca" autocomplete="off">
                    <label for="pca">Principle Components Analysis</label>
                </div>
            </div>
            <div class="network-options">
                <div class="header-box">
                    <h3>Select Network Hidden Layer Options:</h3>
                </div>
                <div class="form-input-container">
                    <div class="button-group--container">
                        <div class="button--container">
                            <input id="add-layer" type="button" value="Add layer" onclick="addChildNumberInput('neuron-inputs--container')">
                        </div>
                        <div class="button--container">
                            <input id="remove-layer" type="button" value="Remove layer" onclick="removeLastChildElement('neuron-inputs--container')">
                        </div>
                    </div>
                    <div>
                        <p>Neurons:</p>
                    </div>
                    <div class="neuron-inputs--container" id="neuron-inputs--container">
                        <input id="neuron-count" type="number" name="layer_neurons" min="0" step="1" size="4" max="9999" value="10">
                    </div>
                    <div class="activation-function-container">
                        <label for="activation-function">Activation Function:</label>
                        <select id="activation-function" name="activation_function">
                            <option value="relu" selected="selected">ReLu</option>
                            <option value="sigmoid">Sigmoid</option>
                            <option value="tanh">Tanh</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="hyperparameter-search">
                <div class="header-box">
                    <h3>Select Parameters for Hyperparameter Search:</h3>
                </div>
                <div class="form-input-container">
                    <div class="checkbox-container">
                        <input id="l2-param-check" type="checkbox" onchange="l2ParamChange(this)" autocomplete="off" name="l2_param_check">
                        <label for="l2-param-check">L2 Regularisation Parameter</label>
                    </div>
                    <div class="fold-count-container">
                        <label for="fold-count" id="fold-count-label">Fold Count:</label>
                        <input id="fold-count" type="number" step="any" min="1" value="5" disabled autocomplete="off" name="fold_count">
                    </div>
                </div>
            </div>
            <div class="parameter-options">
                <div class="header-box">
                    <h3>Specify Training Parameter Values:</h3>
                </div>
                <div class="form-input-container parameter-values-form-container">
                    <div class="parameter-values-form-container">
                        <div>
                            <label for="l2-param-value" id="l2-param-value-label">L2 Regularisation Parameter:</label>
                            <input id="l2-param-value" type="number" step="0.00001" min="0" value="0" autocomplete="off" name="l2_param">
                        </div>
                        <div>
                            <label for="optimisation-algorithm">Algorithm:</label>
                            <select id="optimisation-algorithm" name="optimiser" onchange="algorithmChange(this)" onload="this.value = 'sgd';">
                                <option value="sgd" selected="selected">Stochastic Gradient Descent</option>
                                <option value="nag">Nesterov Accelerated Gradient</option>
                                <option value="adam" disabled>ADAM</option>
                            </select>
                        </div>
                        <div>
                            <label for="mini-batch-size">Mini-Batch Size:</label>
                            <input id="mini-batch-size" type="number" step="1" min="1" value="30" autocomplete="off" name="mini_batch_size">
                        </div>
                        <div>
                            <label for="epochs">Epochs:</label>
                            <input id="epochs" type="number" step="1" min="1" value="50" autocomplete="off" name="epochs"><br>
                        </div>
                        <div>
                            <label for="learning-rate">Learning Rate:</label>
                            <input id="learning-rate" type="number" step="0.0005" min="0.0005" value="0.001" autocomplete="off" name="learning_rate">
                        </div>
                        <div>
                            <label for="momentum-param" id="momentum-param-label">Momentum Parameter:</label>
                            <input id="momentum-param" type="number" step="0.05" min="0" max="1" value="0.9" disabled autocomplete="off" name="momentum_param">
                        </div>
                    </div>
                </div>
            </div>
            <div class="train-network-container">
                <div>
                    <input type="submit" id="train-network" value="Train Network" disabled>
                </div>
            </div>
        </form>
    </div>
</div>

{% if dataset %}
<script>
    const datasetSelect = document.getElementById("datasets");
    datasetSelect.value = "{{ dataset }}";

    const trainNetwork = document.getElementById("train-network");
    trainNetwork.disabled = false;

    document.getElementById('suggested-options').disabled = false
</script>
{% endif %}

<script src="/static/scripts/loadDefaults.js"></script>

<script>

    function selectDataset(select) {
        if (select.value != "0") {
            select.form.submit();
        }
    }

    function loadSuggestedOptions(datasetId) {
        var test = 5;
    }

    function addChildNumberInput(elementTag) {
        var input = document.createElement("input");
        input.type = "number";
        input.step = "1";
        input.min = "1";
        input.name = "layer_neurons";
        input.size = "4"
        input.max = "9999"
        input.value = "10"
        document.getElementById(elementTag).appendChild(input)
    }

    function removeLastChildElement(elementTag) {
        var element = document.getElementById(elementTag);
        if (element.children.length > 1) {
            element.removeChild(element.lastChild);
        }
    }

    function l2ParamChange(l2ParamSearchCheck) {
        toggleL2Param(l2ParamSearchCheck)
        toggleFoldCount()
    }

    function toggleL2Param(l2ParamSearchCheck) {
        const l2ParamInput = document.getElementById("l2-param-value");
        const l2ParamInputLabel = document.getElementById("l2-param-value-label");
        if (l2ParamSearchCheck.checked) {
            l2ParamInput.disabled = true;
            l2ParamInputLabel.style.color = "LightGray";
        } else {
            l2ParamInput.disabled = false;
            l2ParamInputLabel.style.color = "Black";
        }
    }

    function toggleFoldCount() {
        const foldCountValue = document.getElementById("fold-count");
        const foldCountValueLabel = document.getElementById("fold-count-label");
        const l2ParamSearchCheck = document.getElementById("l2-param-check");
        if (!l2ParamSearchCheck.checked) {
            foldCountValue.disabled = true;
            foldCountValueLabel.style.color = "LightGray";
        } else {
            foldCountValue.disabled = false;
            foldCountValueLabel.style.color = "Black";
        }
    }

    function algorithmChange(algorithmSelect) {
        const momentumParamInput = document.getElementById("momentum-param");
        const momentumParamInputLabel = document.getElementById("momentum-param-label");
        if (!(algorithmSelect.value == "nag")) {
            momentumParamInput.disabled = true;
            momentumParamInputLabel.style.color = "LightGray";
        } else {
            momentumParamInput.disabled = false;
            momentumParamInputLabel.style.color = "Black";
        }
    }
</script>


{% endblock content %}