.error-msg {
    display: none;
    background: firebrick;
    margin: 1em 0;
    padding: 1em;
}

.error-msg a {
    color: white;
    text-decoration: none;
}

.btn-container {
    padding: 1em 0;
}