.card-container {
    padding-top: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 250px;
    height 300px;
    /*z-index: 10;*/
    display: flex;
    justify-content: center;
    align-items: center;
    background: lightgray;
    box-shadow: 0 15px 35px rgba(0,0,0,0.5);
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;

}

.progress-indicator {
    position: relative;
    width: 75%;
}

.progress-text {
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.svg-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-ring{
    position: relative;
    width: 150px;
    height: 150px;
}

.progress-ring circle {
    fill: none;
    stroke-width: 10px;
    stroke: rgba(255, 255, 255, 0.05);
    stroke-linecap: round;
    transition: stroke-dashoffset 0.35s;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}

 .progress-ring circle:nth-child(2) {
    stroke: firebrick;
}

.number, .percent {
    color: firebrick;
    font-size: 2em;
}